<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace의 값은 사용할 DAO의 풀패키지명 -->		    
<mapper namespace="com.dh.kdh.bankmember.BankMembersDAO">
<!-- id는 DAO의 메서드명과 동일하게  parameterType 쿼리를 어떤 데이터 타입에서 꺼낼건지 , resultType 조회결과를 어느 데이터 타입에 담을지-->
	<select id="getSearchByID" parameterType="String" resultType="BankMembersDTO">
		SELECT * FROM BANKMEMBERS WHERE USERNAME LIKE '%'||#{search}||'%' ORDER BY USERNAME DESC
	</select>
	
	<select id="getLogin" parameterType="BankMembersDTO" resultType="BankMembersDTO">
		SELECT USERNAME, NAME FROM BANKMEMBERS WHERE USERNAME=#{userName} AND PASSWORD=#{password} 
	</select>
	
	<insert id="setJoin" parameterType="BankMembersDTO">
		INSERT INTO BANKMEMBERS VALUES(#{userName},#{password},#{name},#{email},#{phone})
	</insert>
	
	<select id="getMyPage" parameterType="BankMembersDTO" resultMap="getMyPageResult">
		SELECT USERNAME, NAME, EMAIL, PHONE, ACCOUNTNUM, BOOKNAME, ACCOUNTDATE
		FROM BANKMEMBERS BM
		     INNER JOIN
		     BANKACCOUNT BA
		     USING(USERNAME)
		     INNER JOIN
		     BANKBOOK BB
		     USING(BOOKNUM)
		WHERE USERNAME=#{userName}
	</select>
	<resultMap type="BankMembersDTO" id="getMyPageResult">
		<id column="USERNAME" property="userName"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<!--collection 1:N관계 회원은 계좌를 여러개 가지고있다  -->
		<collection property="bankAccountDTOs" javaType="List" ofType="BankAccountDTO"><!--List 제너릭 타입 ofType  -->
			<id column="ACCOUNTNUM" property="accountNum"/>
			<result column="ACCOUNTDATE" property="accountDate"/>
			<!--association 계좌는 bankbook을 한개 가지고있다.  -->
			<association property="bankBookDTO" javaType="BankBookDTO">
				<result column="BOOKNAME" property="bookName"/>
			</association>
		</collection> 
	</resultMap>
	
	
</mapper> 