<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.dh.kdh.bankaccount.BankAccountDAO">
	<insert id="add" parameterType="com.dh.kdh.bankaccount.BankAccountDTO">
		INSERT INTO BANKACCOUNT VALUES(ACCOUNT_SEQ.NEXTVAL,#{userName},#{bookNum},sysdate)
	</insert>
	
	<select id="getListByUserName" parameterType="BankMembersDTO" resultMap="getListByUserName">
		SELECT BA.ACCOUNTNUM, BB.BOOKNAME, BA.ACCOUNTDATE
		FROM BANKACCOUNT BA
			INNER JOIN
			BANKBOOK BB
			USING(BOOKNUM)
		WHERE BA.USERNAME=#{userName}
	</select>
	<resultMap type="BankAccountDTO" id="getListByUserName">
		<id column="ACCOUNTNUM" property="accountNum"/>
		<result column="ACCOUNTDATE" property="accountDate"/>
		<association property="bankBookDTO" javaType="BankBookDTO">
			<result column="BOOKNAME" property="bookName"/>
		</association>
	</resultMap>
	
	
</mapper> 