<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.dh.kdh.board.notice.NoticeDAO">

	<select id="getCount" resultType="java.lang.Long">
		SELECT COUNT(num) FROM NOTICE
	</select>

	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		SELECT NUM,TITLE,WRITER,REGDATE,HIT FROM
		(SELECT ROWNUM R, N.* FROM
		(SELECT * FROM NOTICE ORDER BY NUM DESC) N)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>	
	
	<select id="getDetail" parameterType="BoardDTO" resultType="NoticeDTO">
		SELECT * FROM NOTICE WHERE NUM=#{num}
	</select>
	
	<insert id="setAdd" parameterType="BoardDTO">
		INSERT INTO NOTICE VALUES(BOARD_SEQ.NEXTVAL,#{title},#{contents},#{writer},sysdate,0)
	</insert>
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET TITLE=#{title},CONTENTS=#{contents} WHERE NUM=#{num}
	</update>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE NUM=#{num}
	</delete>
	
</mapper> 